* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root, html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 75%;
}

nav ul li {
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: solid black 1px;
}

section {
  flex-grow: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 0;
}

.chatbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  border: solid black 1px;
}

.chatbox > textarea {
  width: 50%;
  resize: none;
  font-size: 1.5rem;
}