/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* GLOBAL VARIABLES */

:root {
  --gap: 20px;
  --small-gap: 10px;
  --min-gap: 2.5px;

  --border: solid var(--primary-color) 1px;
  --border-radius: 10px;
  
  --primary-color: white;
  --secondary-color: grey;
  --background-color: rgb(44, 44, 44);
}

/* UNIVERSAL RULES */

:root, html, body {
  width: 100%;
  height: 100%;
  
  font-family: system-ui;

  color: var(--primary-color);
  background-color: var(--background-color);
}

body {
  display: flex;
  padding: var(--gap);
  gap: var(--gap);

  justify-content: center;
}

/* NAVIGATION UI SHOWN ON ALL PAGES */

nav {
  min-width: clamp(50px, 50px, 3vw);
  align-self: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

nav ul li {
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  border: var(--border);
  border-radius: var(--border-radius);
}

/* BASIC STUFF FOR THE CONTENT OF EACH PAGE */

#container {
  width: 100%;
  height: 100%;

  display: flex;
  padding: var(--gap);
  gap: var(--gap);
  border: var(--border);
  border-radius: var(--border-radius);
}

/* HOME PAGE CSS */

section {
  width: 25%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

header {
  max-height: fit-content;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--small-gap);
  padding: 0 var(--small-gap);
  padding-bottom: var(--small-gap);
}

header.complete {
  padding-top: var(--small-gap);
}

header button {
  height: 100%;
  aspect-ratio: 1/1;

  font-size: 2rem;

  background: none;
  border: none;
}

section > div {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  padding: var(--small-gap);
  gap: var(--small-gap);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: auto;
}

.card {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  padding: var(--small-gap);
  gap: var(--min-gap);
  border: var(--border);
  border-radius: var(--border-radius);
}

.timer {
  flex-direction: row;
  gap: var(--small-gap);
}

.timer > button {
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 2rem;
  background: none;
  border: none;
}

.timer > div {
  flex-grow: 1;
}

/* CHAT SECTION CSS */

.chat {
  flex-wrap: wrap-reverse;
}

.chat > section {
  flex-grow: 1;
  max-width: 25%;
}

.chatbox {
  flex-grow: 5;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: var(--small-gap);
  gap: var(--small-gap);
  border: var(--border);
  border-radius: var(--border-radius);
}

.chatbox > .messages {
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.messages > .message {
  width: 100%;
  height: fit-content;
  padding: var(--small-gap);
  display: flex;
}

.messages > .message:has(.user-message) {
  justify-content: flex-end;
}

.messages > .message:has(.bot-message) {
  justify-content: flex-start;
}

.message > .user-message,
.message > .bot-message {
  height: fit-content;
  width: fit-content;
  justify-self: center;
  max-width: 50%;
  overflow-wrap: break-word;
  padding: var(--small-gap);
  border: var(--border);
  border-radius: var(--border-radius);
}

.chatbox > .message-box {
  width: 100%;
  height: fit-content;
  max-height: 20%;
  display: flex;
  align-items: center;
}

.chatbox > .message-box > textarea {
  max-height: 100%;
  flex-grow: 1;
  overflow: auto;
  resize: none;
  padding: var(--small-gap);
  
  font-size: 1rem;
  outline: none;
  box-shadow: none;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  background-color: var(--background-color);
}

.chatbox > .message-box > button {
  font-size: 2rem;
  aspect-ratio: 1/1;
  background: none;
  border: none;
}

/* CALENDAR */

#calendar {
  min-height: 100%;
  width: 50%;
  flex-grow: 1;
  border: solid white 1px;
}

/* RESPONSIVE STYLES */

@media (max-width: 1200px) {
  body {
    flex-direction: column-reverse;
  }

  nav ul {
    flex-direction: row;
  }

  #container {
    overflow-x: auto;
  }

  section {
    min-width: 50%;
  }
}

@media (max-width: 800px) {
  section {
    min-width: 100%;
  }
}