/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-color: var(--primary-color) transparent;
  scrollbar-width: thin;

  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ol, ul, menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* GLOBAL VARIABLES */

:root {
  --big-gap: 15px;
  --gap: 10px;
  --small-gap: 5px;
  --min-gap: 2.5px;

  --border: solid var(--border-color) 1px;
  --border-radius: 10px;
  
  --primary-color: rgb(255, 255, 255);
  --border-color: rgb(95, 95, 95);
  --secondary-color: rgb(42, 42, 42);
  --background-color: rgb(22, 22, 22);
}

/* UNIVERSAL RULES */

:root, html, body {
  width: 100%;
  height: 100%;
  
  font-family: system-ui;

  color: var(--primary-color);
  background-color: var(--background-color);
}

body {
  display: flex;
  padding: var(--big-gap);
  gap: var(--big-gap);
}

/* NAVIGATION UI SHOWN ON ALL PAGES */

nav {
  width: 48px;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--min-gap);
}

nav ul li {
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  border-radius: 50%;
}

nav ul li:hover,
.active-page {
  background-color: var(--secondary-color);
}

nav ul li a {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  filter: brightness(1);
}

nav ul li:nth-of-type(1) a { background-image: url(icons/home.svg); }
nav ul li:nth-of-type(2) a { background-image: url(icons/chat.svg); }
nav ul li:nth-of-type(3) a { background-image: url(icons/calendar.svg); }
nav ul li:nth-of-type(4) a { background-image: url(icons/mood.svg); }
nav ul li:nth-of-type(5) a { background-image: url(icons/settings.svg); }

/* BASIC STUFF FOR THE CONTENT OF EACH PAGE */

#container {
  flex: 1;

  display: grid;
  grid-template-rows: 40px 1fr;
  grid-auto-flow: column;
  gap: var(--gap);

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.home {
  --columns: 4;
  grid-template-columns: repeat(var(--columns), 1fr);
}

button {
  aspect-ratio: 1 / 1;
  height: 40px;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  filter: brightness(1);
}

button:hover {
  background-color: var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  overflow: auto;
  scroll-behavior: smooth;
}

/* CARD COLUMNS */

.card {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: max(100px, 1fr);

  padding: var(--gap);
  gap: var(--gap);
  border: var(--border);
  border-radius: var(--border-radius);
}

.card h2 {
  margin-bottom: var(--small-gap);
}

.card div:last-child {
  display: flex;
  flex-direction: column; 
  gap: var(--small-gap);
}

.task-checkbox {
  background-color: transparent;
}

.task-complete .task-checkbox {
  background-image: url(icons/check.svg);
  background-size: 36px;
}

.task-complete {
  opacity: 0.25;
}

.start-button {
  background-image: url(icons/play.svg);
}

.timer h2 {
  line-height: 4rem;
  height: 4rem;
  font-size: 4rem;
}

.delete-button {
  background-image: url(icons/trash.svg);
}

/* CHAT COLUMN CSS */

#chat-ui {
  flex-direction: row;
}

.chatbox {
  flex: 1;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  gap: var(--small-gap);
}

.chat .chatbox {
  flex: 5;
}

.chatbox > .messages {
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.messages > .message {
  flex: 1;
  padding: var(--small-gap);
  display: flex;
}

.messages > .message:has(.user-message) {
  justify-content: flex-end;
}

.messages > .message:has(.bot-message) {
  justify-content: flex-start;
}

.message > .user-message,
.message > .bot-message {
  height: fit-content;
  width: fit-content;
  justify-self: center;
  max-width: 50%;
  overflow-wrap: break-word;
  padding: var(--small-gap);
  border: var(--border);
  border-radius: var(--border-radius);
}

.chatbox > .message-box {
  width: 100%;
  height: fit-content;
  max-height: 20%;
  display: flex;
  align-items: center;
}

.chatbox > .message-box > textarea {
  max-height: 100%;
  flex: 1;
  overflow: auto;
  resize: none;
  padding: var(--small-gap);
  
  font-size: 1rem;
  outline: none;
  box-shadow: none;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  background-color: var(--background-color);
}

.chatbox > .message-box > button {
  font-size: 2rem;
  aspect-ratio: 1/1;
  background: none;
  border: none;
}

/* PLANNER SECTION CSS */

.planner > #chat-ui {
  flex-direction: column-reverse;
}

.planner .chatbox {
  flex: 1;
}

#calendar {
  flex: 2;
  display: flex;
  flex-direction: column;
}

#dates {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0;
  border: var(--border);
}

.date {
  border: var(--border);
}

/* RESPONSIVE STYLES */

@media (max-width: 1200px) {
  .home {
    grid-template-columns: repeat(var(--columns), 400px);
  }
}

@media (max-width: 900px) {
  body {
    flex-direction: column-reverse;
  }

  nav {
    width: auto;
    height: 48px;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul li {
    flex: 1;
    border-radius: 24px;
  }

  #container {
    grid-template-columns: repeat(var(--columns), 100%);
  }

  #container > * {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}