/* FOR ALL PAGES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui;
}

:root, html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* NAVIGATION UI SHOWN ON ALL PAGES */

nav {
  width: max(50px, 2vw);
  align-self: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav ul li {
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: solid black 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

#content {
  flex-grow: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BASIC STUFF FOR THE CONTENT OF EACH PAGE */

#home,
#chatbox {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  border: solid black 1px;
}

/* HOME PAGE CSS */

#home {
  gap: 20px;
}

#tasks,
#clock,
#events,
#news {
  flex-grow: 1;
  height: 100%;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
}

h1 {
  max-width: 100%;
  text-align: center;
}

.task-items,
.event-items {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
  gap: 10px;
}

.task,
.event {
  max-width: 100%;
  min-height: 100px;
  border: solid black 1px;
}

/* CHATBOX CSS FOR THE CHATBOX ON CHAT AND PLANNER PAGES */

#chatbox {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  width: 25%;
}

#chatbox > textarea {
  width: 100%;
  resize: none;
  font-size: 1.5rem;
}

/* CALENDAR */

#calendar {
  min-height: 100%;
  width: 50%;
  flex-grow: 1;
  border: solid black 1px;
}