/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* GLOBAL VARIABLES */

:root {
  --gap: 20px;
  --small-gap: 10px;
  --min-gap: 2.5px;

  --border-radius: 10px;
  
  --primary-color: white;
  --secondary-color: grey;
  --background-color: rgb(44, 44, 44);
}

/* UNIVERSAL RULES */

:root, html, body {
  width: 100%;
  height: 100%;
  
  font-family: system-ui;

  color: var(--primary-color);
  background-color: var(--background-color);
}

body {
  display: flex;
  padding: var(--gap);
  gap: var(--gap);
}

/* NAVIGATION UI SHOWN ON ALL PAGES */

nav {
  min-width: 50px;
  align-self: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

nav ul li {
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  border: solid var(--primary-color) 1px;
  border-radius: var(--border-radius);
}

/* BASIC STUFF FOR THE CONTENT OF EACH PAGE */

#home {
  width: 100%;
  height: 100%;

  display: flex;
  padding: var(--gap);
  gap: var(--gap);
  border: solid var(--primary-color) 1px;
  border-radius: var(--border-radius);
}

/* HOME PAGE CSS */

#tasks,
#clock,
#events,
#news {
  width: 25%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

.heading {
  max-height: fit-content;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--small-gap);
  padding: 0 var(--small-gap);
  padding-bottom: var(--small-gap);
}

#tasks .heading:nth-child(3) {
  padding-top: var(--small-gap);
}

.heading button {
  height: 100%;
  aspect-ratio: 1/1;

  font-size: 2rem;

  background: none;
  border: none;
}

#tasks .complete,
#tasks .incomplete,
#events .event-items,
#clock .timers,
#news .articles {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  padding: var(--small-gap);
  gap: var(--small-gap);
  border: solid var(--primary-color) 1px;
  border-radius: var(--border-radius);
  overflow: auto;
}

.task,
.event,
.timer {
  max-width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  padding: var(--small-gap);
  gap: var(--min-gap);
  border: solid var(--primary-color) 1px;
  border-radius: var(--border-radius);
}

.task > div,
.event > div {
  display: flex;
  margin-top: var(--small-gap);
}

.task > div > button,
.event > div > button {
  width: 100%;
  font-size: 1.5rem;
}

.timer {
  flex-direction: row;
  gap: var(--small-gap);
}

.timer button {
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 2rem;
  background: none;
  border: none;
}

/* CHATBOX CSS FOR THE CHATBOX ON CHAT AND PLANNER PAGES */

#chatbox {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  width: 25%;
}

#chatbox > textarea {
  width: 100%;
  resize: none;
  font-size: 1.5rem;
}

/* CALENDAR */

#calendar {
  min-height: 100%;
  width: 50%;
  flex-grow: 1;
  border: solid white 1px;
}