button {
  color: var(--fg-color);
  background: none;
  border: none;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    background: var(--sec-bg-color);
  }
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  aspect-ratio: 1 / 1;
  border: var(--border);
  border-radius: var(--rounded);
}

.nav-button svg,
.circle-button svg {
  height: 50%;
  aspect-ratio: 1 / 1;
}