/* Main body layout */
:root, html, body {
  width: 100%;
  height: 100%;
  
  font-family: var(--font-family);

  color: var(--fg-color);
  background-color: var(--bg-color);
}

body {
  display: flex;
  padding: var(--big-gap);
  gap: var(--big-gap);
}

.page {
  flex: 1;

  display: grid;
  grid-template-rows: 100%;
  gap: var(--gap);

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.hidden {
  display: none;
}

.dashboard.page {
  --columns: 4;
  grid-template-columns: repeat(var(--columns), minmax(400px, 1fr));
}

.chat.page {
  --columns: 2;
  grid-template-columns: 1fr 400px;
}

.planner.page {
  --columns: 3;
  grid-template-columns: 1fr 1fr 2fr;
}

@media (max-width: 900px) {
  body {
    flex-direction: column-reverse;
  }

  .page {
    grid-template-columns: repeat(var(--columns), 100%);
  }

  .page > * {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}