nav {
  display: grid;
  grid-template-columns: 48px;
  grid-auto-rows: 48px;
  justify-content: center;
  align-content: center;
  gap: var(--min-gap);
}

.nav-button {
  border-radius: 24px;
}

@media (max-width: 900px) {
  nav {
    grid-template-columns: repeat(5, 1fr);
  }
}