

#calendar {
  display: flex;
  flex-direction: column;
}

#dates {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0;
  border: var(--border);
}

.date {
  border: var(--border);
}