.planner .chat {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 1fr;
  gap: var(--gap);
}

.planner .chat > header {
  background-color: var(--bg-color);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
}

.planner .chat > .chat-history {
  background-color: var(--bg-color);
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  z-index: 1;
  display: none;
}

.planner .chat > .chatbox {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.planner .chat > .chatbox .input-box,
.planner .chat > .chatbox .messages {
  width: 100%;
}

#calendar {
  display: flex;
  flex-direction: column;
}

#dates {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0;
  border: var(--border);
}

.date {
  border: var(--border);
}