.planner .chatbox,
.planner .conversations  {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.conversations.hidden {
  display: none;
}

#calendar {
  display: flex;
  flex-direction: column;
}

#dates {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0;
  border: var(--border);
}

.date {
  border: var(--border);
}