* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-color: var(--fg-color) transparent;
  scrollbar-width: thin;

  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}